@font-face{
	font-family:'Clan';
	src:url("/fonts/ClanOT-News.otf");
	font-style:normal;
}

body{
    font-family: 'Clan';
    background-color: white;
    height: 100%;
    min-height: 100%;
}

.burger-btn{
    border-color: white!important;
}

.fix-row{
    margin-left: 0px;
    margin-right: 0px;
}

.fix-col{
    padding-left: 0px;
    padding-right: 0px;
}

.logo_header{
    /* padding-top:3vh;
    padding-bottom:3vh;
    background-color: #275872; */
}

.padupdown{
    padding-top:15px;
    /* padding-bottom:15px; */
}

.texto-gnv{
    width: 242px;
}

.tool-blue{
    padding-top:2vh;
    padding-bottom: 2vh;
    background-color: #00AEEF;
}

@media only screen and (max-width: 600px){
    .logo_png{
        width: 95%;
        height: auto;
        margin:0;
    }

    .textos_estaciones{
        text-align:center!important;
    }

    .esconder_chico{
        display: none;
    }

    .texto-gnv{
        width: 90%!important;
    }

    .tool-mb-1{
        background-color:#275872!important;
    }

    .tool-mb-2{
        background-color:#29746f!important;
    }

    .tool-mb-3{
        background-color:#26a3db!important;
    }

    .tool-mb-4{
        background-color:#b6c546!important;
    }
}



.margin-logo{
    margin-left: 20px;
}

@media only screen and (max-width: 1095px){
    .botlogo{
        display: none;
    }
    
    .margin-logo{
        margin-left: 0px;
    }
}



.nav_header{
    background-color: #26a3db;
    /* margin-top:3vh; */
}

.navbarNav{
    background-color: #275872!important;
    color:white;
    /* margin-top:3vh; */
}

.indicadores{
    color:white!important;
    text-align: center;
    padding-top:18px;
    padding-bottom:18px;    
}

.center li{
    width: 100%;
}

.indicadores2{
    padding-top:1vh!important;
    padding-bottom:1vh!important;
    
    color:white!important;
    text-align: center;
}

.indicadores:hover{
    background-color: #FFC300;
    color:white;
    border-radius: 136px;
}

.redondear{
    display: block;
    border-radius: 136px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.redondear:hover{
    display: block;
    border-radius: 136px;
}

/* .ind_item{
    width: 10%;
} */

.active{
    background-color: #29746f;
}

.row-tools{
    
}

.tool-blue:hover{
    background-color: #FFC300;
}

.tool-blue:hover .disabled{
    color: #333;
}



.img-v{
    vertical-align: baseline;
}

.white{
    color:white;
}

.disabled{
    color:#CCC;
}

small.disabled{
    font-size: 10px;
}

.v-a{
    margin: auto;
}

.circulo_six{
    margin-bottom: 3vh;
}

.circulos_contenedor{
    margin-top:8vh;
}

.body-txt{
    color:#333;
}

.footer{
    margin-top:8vh;
    background-color:#275872;
    padding-top: 15px;
}

.white{
    color:white;
}

.mini{
    font-size: 10px;
}

.contenedor_gas_natural{
    margin-top: 10vh;
}

.contenedor_lista_gas_natural{
    margin-top: 5vh;
}

.color_lista_gas_natural{
    color: #29746f;
}

.contenedor_verde_conversiones{
    background-color: #FFC300;
    color: white;
    font-size: 36px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.contenedor_conversiones_texto{
    font-size: 13px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.color_lista_conversiones{
    color: #29746f;
}

.contenedor_3_conversiones{
    margin-top: 2vh;
}

.contenedor_dudas{
    margin-top: 2vh;
}

.lista_verde{
    border: 0px;
    border-radius: 0px;
    margin-top:0.3em;
}

.no-padding{
    background-color:#FFC300;
    padding: 0;
    margin-bottom:2vh;
    border-radius: .25rem;
}

.no-padding:first-child{
    border-radius: 0%;
}

.quitar-a{
    text-decoration:none;
    color:white;  
}

.quitar-a:hover{
    text-decoration:underline;
    color:white;  
}

.map iframe{
    width: 100%;
    height: 205px;
    border: solid 1px #29746f;
}


.contenedor_estaciones{
    margin-top:5vh;
}

.textos_estaciones{
    text-align: right;
}

.flux{
    color: #29746f;
}

.btn-flux{
    background-color: #29746f;
    border: 1px solid #29746f;
    color:white;
}

.btn-flux:hover{
    background-color: #FFC300;
    border: 1px solid #FFC300;
    color:white;
}

.btn_calculadora{
    background-color:#00AEEF;
    font-size:1.2em;
    color:white;
}

.btn_calculadora:hover{
    background-color:#FFC300;
    font-size:1.2em;
    color:white;
}


